{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}
	<main class="container py-16">
		<div class="prose max-w-none">
			<h1 class="text-5xl font-extrabold">Hi, We're Swordfight @ Penn.</h1>
			<h3>We are the premier mock-swordfighting group at the University of Pennsylvania.</h3>
			<h5>Quoting from our own Penn Clubs page:</h5>
			<blockquote>Swordfight @ Penn is a club that fills a unique niche in the recreational sphere within Penn. There are currently no clubs centered around activities such as Kendo, non-competitive saber-play, or even just plain-old plastic lightsaber jousting. Swordfight @ Penn exists because these activities are fundamentally social: two consenting parties at the least are necessary for swordplay to commence.
				<br><br>
				SFP provides a safe environment on a weekly basis to engage in mock-blade fighting, under supervision from others and with specialized equipment for maximum fun and safety. This means a safe outlet for stress, frustration, and other weekday troubles as well as guaranteed physical activity and exposure to the outdoors. We are a community that has one thing in common: we enjoy hitting each other with foam swords, and if you have that in common as well, you belong.
			</blockquote>
      <h2 class="inline text-transparent bg-clip-text bg-gradient-to-br from-indigo-500 to-red-500">See you soon!</h2>
		</div>
	</main>
{% endblock %}
